# Node modules
node_modules/

# Build output
dist/

# Ignore everything except essential files
*
!main.js
!renderer/
!renderer/**
!package.json
!package-lock.json
!birthdayconfig.txt
!birthday.mp3
!.gitignore
